h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.countries {
  border: 1px solid black;
  border-radius: 6px;
  margin: 15px 0;
}

.countries__name {
  cursor: pointer;
  font-weight: 400;
  padding: 3px 10px;
}

span {
  margin-left: 10px;
}

ul,
li {
  position: relative;
  list-style: none;
}

li::before,
li::after {
  content: "";
  position: absolute;
  left: 0;
}

li::before {
  border-top: 1px dashed #333;
  top: 18px;
  width: 14px;
  left: -14px;
  height: 0;
}

li::after {
  border-left: 1px dashed #333;
  height: 120%;
  width: 0px;
  top: -16px;
  left: -15px;
}
